<link rel="stylesheet" href="../../scss/_typographic.scss"><% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="body">

    <div class="section p-all-0">
        <div class="head_info p1">
            <div class="container">
                <div class="head">
                    <h1 class="text-align-center m-b-0">Санаторий «Волжский Утёс»</h1>
                    <p class="text-align-center color-main m-t-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur<br> porttitor quis metus nec tincidunt.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2 class="text-align-center m-t-0">Услуги санатория</h2>
            <div class="choice-points">
                <div class="item">программы </div>
                <div class="item">лечение</div>
                <div class="item">размещение</div>
                <div class="item">чем заняться</div>
                <div class="item">спа-центр</div>
                <div class="item">рестораны</div>

            </div>
            <div class="points-blocks">
                <div class="row">
                    <div class="col w-33"><div class="choice-points-block b1i1"></div></div>
                    <div class="col w-33"><div class="choice-points-block b1i2"></div></div>
                    <div class="clr"></div>
                    <div class="col w-33"><div class="choice-points-block b1i3"></div></div>
                    <div class="col w-33"><div class="choice-points-block b1i4"></div></div>
                    <div class="clr"></div>
                    <div class="col w-33"><div class="choice-points-block b1i5"></div></div>
                    <div class="col w-33"><div class="choice-points-block b1i6"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="button all-programms m-t-50">
                    <a href="#">Все программы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section p-all-0 m-t-0">
        <div class="container">
            <h2 class="text-align-center m-b-5">Преимущества</h2>
            <p class="text-align-center m-t-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <br>porttitor quis metus nec tincidunt.</p>
            <div class="row">
                <div class="col w-40">
                    <div class="advantage-info">
                        <div class="table-block">
                            <div class="cell">
                                <h3> Красивая природа</h3>
                                <p class="medium-text">При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание,
                                    3-разовое питание, лечение по назначению врача (от 7 дней пребывания), бассейн.
                                </p>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col w-60"><div class="advantage advantage1"></div> </div>
                <div class="clr"></div>
                <div class="col w-60" ><div class="advantage advantage2"></div> </div>
                <div class="col w-40">
                    <div class="advantage-info">
                        <div class="table-block">
                            <div class="cell">
                                <h3> Лучшие врачи</h3>
                                <p class="medium-text">При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание,
                                    3-разовое питание, лечение по назначению врача (от 7 дней пребывания), бассейн.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="col w-40">
                    <div class="advantage-info">
                        <div class="table-block">
                            <div class="cell">
                                <h3> Комфортное проживание</h3>
                                <p class="medium-text">При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание,
                                    3-разовое питание, лечение по назначению врача (от 7 дней пребывания), бассейн.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col w-60"><div class="advantage advantage3"></div> </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="main-video">
            <video id="main_video"  loop="true"  width="100%">
                <source src="http://www.volgacliff.ru/wp-content/themes/nadezhda/app/video/video.mp4" type='video/mp4'>
                <source src="../../video/main.webm">
            </video>
        </div>

    </div>
    <div class="section">
        <div class="container">
            <p class="h1 text-align-center">Почему МигКредит?</p>
            <div class="swiper-slider-wrapper infographic-slider">
                <div id="infographic_slider" class="swiper-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="infographic">
                                <div class="item">
                                    <div class="icon"><i class="icon-passport"></i></div>
                                    <div class="text">Только паспорт</div>
                                    <div class="text label">для получения займа</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="infographic">
                                <div class="item">
                                    <div class="icon"><i class="icon-safe"></i></div>
                                    <div class="text">Безопасно</div>
                                    <div class="text label">и конфиденциально</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="infographic">
                                <div class="item">
                                    <div class="icon"><i class="icon-calendar1"></i></div>
                                    <div class="text">7 дней в неделю</div>
                                    <div class="text label">включая праздники</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="infographic">
                                <div class="item">
                                    <div class="icon"><i class="icon-russia"></i></div>
                                    <div class="text">По всей России</div>
                                    <div class="text label">вам доступен займ</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="infographic">
                                <div class="item">
                                    <div class="icon"><i class="icon-result"></i></div>
                                    <div class="text">950 000 займов</div>
                                    <div class="text label">выдано за 7 лет</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="infographic">
                                <div class="item">
                                    <div class="icon"><i class="icon-girl"></i></div>
                                    <div class="text">79% клиентов</div>
                                    <div class="text label">обращаются повторно</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination infographic-slider-pagination"></div>
                <div class="swiper-arrow swiper-arrow-prev infographic-slider-button-prev">
                    <i class="icon icon-left1"></i>
                </div>
                <div class="swiper-arrow swiper-arrow-next infographic-slider-button-next">
                    <i class="icon icon-right1"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>