<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section p-all-0">
    <div id="search" class="search" style="background-image: url('/img/booking-bg.jpg');">

        <!-- Десптопная/плашнетная версия -->
        <div class="container for-booking">
            <div class="hide-mobile">
                <p class="h1 m-t-50 color-white text-align-center">Санаторий «Волжский Утёс»</p>
                <p class="color-white text-align-center">
                    Приветствуем Вас! <br>
                    Укрепите здоровье у нас в гостях. <br>
                    Лучшие врачи, комфортное проживание, вкусная еда, красота природы.
                </p>
            </div>

            <!-- Для мобильной версии -->
            <div class="hide-desktop">
                <div class="welcome" style="background-image:url('/img/booking-bg.jpg');">
                    <p><b>Поздравляем, вы бронируете номер напрямую</b>
                        <br>и получите лучшие условия!
                    </p>
                </div>

                <a href="#" id="select_date" class="select-date" data-empty="" data-holidays="">

                    <div id="date_in" class="date-wrap in">
                        <p class="label">Дата заезда</p>
                        <div class="date">
                            <p class="day"></p>
                            <p class="month"></p>
                            <p class="weekday"></p>
                        </div>
                    </div>

                    <div id="date_out" class="date-wrap out">
                        <p class="label">Дата выезда</p>
                        <div class="date">
                            <p class="day"></p>
                            <p class="month"></p>
                            <p class="weekday"></p>
                        </div>
                    </div>

                    <div class="nights">
                        <i class="icon icon-moon"></i>
                        <p></p>
                    </div>
                </a>

                <div class="hr"></div>

                <div id="select_rooms_guest_count">
                    <div class="select-count">
                        <a href="#" class="button-action minus disable"><i class="icon icon-minus"></i></a>
                        <div class="count-field">
                            <div class="label">Номеров</div>
                            <input type="number" class="number" data-type="rooms" value="1" data-min="1" data-max="9">
                        </div>
                        <a href="#" class="button-action plus"><i class="icon icon-plus"></i></a>
                    </div>

                    <div class="hr"></div>

                    <div class="select-count">
                        <a href="#" class="button-action minus disable"><i class="icon icon-minus"></i></a>
                        <div class="count-field">
                            <div class="label">Взрослых</div>
                            <input type="number" class="number" data-type="adults" value="2" data-min="1" data-max="9">
                        </div>
                        <a href="#" class="button-action plus"><i class="icon icon-plus"></i></a>
                    </div>

                    <div class="hr"></div>

                    <div class="select-count">
                        <a href="#" class="button-action minus disable"><i class="icon icon-minus"></i></a>
                        <div class="count-field">
                            <div class="label">Детей</div>
                            <input type="number" class="number" data-type="childs" value="0" data-min="0" data-max="4">
                        </div>
                        <a href="#" class="button-action plus"><i class="icon icon-plus"></i></a>
                    </div>

                    <div class="hr"></div>

                    <div class="childs-age hide">
                        <p class="label">Возраст детей</p>
                        <div class="childs-age-selects">
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Для мобильной версии -->

            <form class="form" method="POST" action="#/api/bookings.getAvailableBookings2">
                <div class="field-col hide-mobile" data-reserv_rangepicker data-empty="" data-holidays="">
                    <div class="field for-date" data-date_start="">
                        <i class="icon icon-in"></i>
                        <span class="text" data-date></span>
                        <span class="text gray" data-weekday></span>
                        <input type="hidden" name="date_start" value="">
                    </div>
                    <div class="field for-date" data-date_end="">
                        <i class="icon icon-in"></i>
                        <span class="text" data-date></span>
                        <span class="text gray" data-weekday></span>
                        <input type="hidden" name="date_end" value="">
                    </div>
                </div>
                <div class="field-col hide-mobile">
                    <div class="select-guests-wrapper" data-reserv_select_guests="">
                        <div class="field" data-button_popup>
                            <i class="icon icon-person"></i>
                            <span class="text" data-value_text></span>
                        </div>
                        <div class="popup-fields" data-popup_fields>
                            <div class="item">
                                <span class="item-label">Номеров</span>
                                <div class="control" data-type="rooms">
                                    <a href="#" class="action-button minus disable"><i class="icon icon-minus"></i></a>
                                    <input type="text" value="1" name="count_rooms" data-count_rooms_field
                                           class="number" maxlength="1" data-min="1" data-max="9">
                                    <a href="#" class="action-button plus"><i class="icon icon-plus"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <span class="item-label">Взрослых</span>
                                <div class="control" data-type="adults">
                                    <a href="#" class="action-button minus"><i class="icon icon-minus"></i></a>
                                    <input type="text" value="2" name="count_adults"
                                           data-count_adults_field class="number" maxlength="1" data-min="1"
                                           data-max="9">
                                    <a href="#" class="action-button plus"><i class="icon icon-plus"></i></a>
                                </div>
                            </div>
                            <div class="item">
                                <span class="item-label">Детей</span>
                                <div class="control" data-type="childs">
                                    <a href="#" class="action-button minus disable"><i class="icon icon-minus"></i></a>
                                    <input type="text" value="0" name="count_childs" class="number"
                                           data-count_childs_field maxlength="1" data-min="0" data-max="4">

                                    <a href="#" class="action-button plus"><i class="icon icon-plus"></i></a>
                                </div>
                            </div>
                            <div class="item childs-age hide" data-childs_age>
                                <span class="label-childs">Возраст детей</span>
                                <div class="childs-age-selects" data-childs_age_selects></div>
                            </div>
                        </div>
                    </div>

                </div>

                <button type="submit" class="button">Найти номера <br>по лучшей цене</button>

                <input type="hidden" name="channel" value="136">

                <div class="clr"></div>
            </form>

            <div style="display: none;">
                <input type="hidden" id="language" value="ru">
            </div>

        </div>
    </div>
</div>


<div class="section tabs-block" data-tabs-block>
    <div class="container">
        <h2 class="text-align-center m-t-0">Услуги санатория</h2>
        <div class="choice-points switches">
            <div class="item switch" data-tab="1">программы</div>
            <div class="item switch" data-tab="2">лечение</div>
            <div class="item switch" data-tab="3">размещение</div>
            <div class="item switch" data-tab="4">чем заняться</div>
            <div class="item switch" data-tab="5">спа-центр</div>
            <div class="item switch" data-tab="6">рестораны</div>

        </div>
        <div class="points-blocks tabs">
            <div class="row">
                <div class="col w-33 tab" data-tab="1">
                    <div class="choice-points-block b1i1">
                        <img alt="1" src="../../img/others/services/services1.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Оздоровление</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="1">
                    <div class="choice-points-block b1i2">
                        <img alt="2" src="../../img/others/services/services2.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Базовая</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="col w-33 tab" data-tab="1">
                    <div class="choice-points-block b1i3">
                        <img alt="3" src="../../img/others/services/services3.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Стандарт</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="1">
                    <div class="choice-points-block b1i4">
                        <img alt="4" src="../../img/others/services/services4.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Здоровый позвоночник</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="col w-33 tab" data-tab="1">
                    <div class="choice-points-block b1i5">
                        <img alt="5" src="../../img/others/services/services5.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Активное долголетие</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="1">
                    <div class="choice-points-block b1i6">
                        <img alt="1" src="../../img/others/services/services1.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Релакс</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="2">
                    <div class="choice-points-block b1i6">
                        <img alt="2" src="../../img/others/services/services2.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Релакс</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="3">
                    <div class="choice-points-block b1i6">
                        <img alt="3" src="../../img/others/services/services3.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Релакс</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="4">
                    <div class="choice-points-block b1i6">
                        <img alt="4" src="../../img/others/services/services4.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Релакс</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="5">
                    <div class="choice-points-block b1i6">
                        <img alt="5" src="../../img/others/services/services5.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Релакс</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 tab" data-tab="6">
                    <div class="choice-points-block b1i6">
                        <img alt="6" src="../../img/others/services/services6.jpeg">
                        <div class="info">
                            <h4 class="subtitle22">Релакс</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-align-center">
            <a class="button m-t-50 m-b-0" href="#">Все программы</a>
        </div>
    </div>
</div>

<div class="section section-grey-bg">
    <div class="container">
        <h2 class="text-align-center m-t-0">Акции</h2>

        <div class="stock__slider initialize-slider">
            <div class="stock__slider-item">
                <div class="row">
                    <div class="col w-50">
                        <img alt="stock-1" src="/img/others/stock/stock-img-1.png">
                    </div>
                    <div class="col w-50 stock__right">
                        <h4 class="subtitle22">Народный санаторий</h4>
                        <span class="stock__dates">заезды с 09.01.2020 по 31.05.2020.</span>
                        <p>
                            При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание, 3-разовое питание, лечение по
                            назначению врача (от 7 дней пребывания), бассейн.
                        </p>
                        <a class="button" href="#">подробнее</a>
                    </div>
                </div>
            </div>
            <div class="stock__slider-item">
                <div class="row">
                    <div class="col w-50">
                        <img alt="stock-1" src="/img/others/stock/stock-img-1.png">
                    </div>
                    <div class="col w-50 stock__right">
                        <h4 class="subtitle22">Народный санаторий</h4>
                        <span class="stock__dates">заезды с 09.01.2020 по 31.05.2020.</span>
                        <p>
                            При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание, 3-разовое питание, лечение по
                            назначению врача (от 7 дней пребывания), бассейн.
                        </p>
                        <a class="button" href="#">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section p-all-0 m-t-0">
    <div class="container">
        <h2 class="text-align-center m-b-5">Преимущества</h2>
        <p class="text-align-center m-t-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur <br>porttitor quis metus nec tincidunt.</p>

        <div class="advantage-wrapper">
            <div class="w-60 col0">
                <div class="advantage">
                    <img alt="1" src="../../img/others/advantages/advantage1.png">
                </div>
            </div>
            <div class="w-40 p-right col1">
                <div class="cell">
                    <h3> Красивая природа</h3>
                    <p class="medium-text">При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание,
                        3-разовое питание, лечение по назначению врача (от 7 дней пребывания), бассейн.
                    </p>
                </div>
            </div>
        </div>
        <div class="advantage-wrapper">
            <div class="w-60 col2">
                <div class="advantage">
                    <img alt="2" src="../../img/others/advantages/advantage2.png">
                </div>
            </div>
            <div class="w-40 p-left col3">
                <div class="cell">
                    <h3> Лучшие врачи</h3>
                    <p class="medium-text">При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание,
                        3-разовое питание, лечение по назначению врача (от 7 дней пребывания), бассейн.
                    </p>
                </div>

            </div>
        </div>

        <div class="advantage-wrapper">
            <div class="w-60 col col4">
                <div class="advantage">
                    <img alt="1" src="../../img/others/advantages/advantage3.png">
                </div>
            </div>
            <div class="w-40 p-right col5">
                <div class="cell">
                    <h3> Комфортное проживание</h3>
                    <p class="medium-text">При условии пребывания не менее 7 дней. Размещение во 2 корпусе. Лечение по программе "Стандарт". В стоимость входит: проживание,
                        3-разовое питание, лечение по назначению врача (от 7 дней пребывания), бассейн.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section p-b-0">
    <div class="main-video">
        <div class="main-video__bg">
            <div class="dark45"></div>
            <video autoplay id="about__video" loop muted src="http://www.volgacliff.ru/wp-content/themes/nadezhda/app/video/video.mp4"></video>
        </div>
        <div class="main-video__text">
            <h2 class="text-align-center color-white">
                Видео о санатории
            </h2>
            <p class="text-align-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor quis metus nec tincidunt.
            </p>
            <div class="main-video__btn m-t-50" id="about__video-play">
                <img alt="play" src="../../img/others/play-btn.png">
            </div>
        </div>
    </div>
</div>


<div class="section p-b-0">
    <div class="slider-guests">
        <div class="container">
            <h2 class="text-align-center m-t-10 m-b-10">Наши гости о нас</h2>
            <p class="text-align-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur<br> porttitor quis metus nec tincidunt.</p>
            <div class="slider__wrapper">
                <div class="quest-slider m-t-50">
                    <div class="item">
                        <div class="item-image">
                            <img alt="" src="../../img/others/guests.png">
                        </div>
                        <div class="stars">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                        </div>
                        <p class="big-weight">Дингуатова Г.У., Потатуева Н.П., Евдокимова З.Л.</p>
                        <p class="medium-text">В санатории Волжский утёс отдыхаем с 2012 г. Очень благодарны за качество обслуживания и комфорт. За столько лет
                            прибывания у нас сложилось определенное мнение о санатории. Мы считаем его самым лучшим санаторием в России. Он
                            соответствует всем требованиям санаторно-курортного о...</p>
                        <a class="medium-text color-btn quest__more-link" href="/">Подробнее</a>

                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img alt="" src="../../img/others/guests.png">
                        </div>
                        <div class="stars">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                        </div>
                        <p class="big-weight">Дингуатова Г.У., Потатуева Н.П., Евдокимова З.Л.</p>
                        <p class="medium-text">В санатории Волжский утёс отдыхаем с 2012 г. Очень благодарны за качество обслуживания и комфорт. За столько лет
                            прибывания у нас сложилось определенное мнение о санатории. Мы считаем его самым лучшим санаторием в России. Он
                            соответствует всем требованиям санаторно-курортного о...</p>
                        <a class="medium-text color-btn quest__more-link" href="/">Подробнее</a>

                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img alt="" src="../../img/others/guests.png">
                        </div>
                        <div class="stars">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                        </div>
                        <p class="big-weight">Дингуатова Г.У., Потатуева Н.П., Евдокимова З.Л.</p>
                        <p class="medium-text">В санатории Волжский утёс отдыхаем с 2012 г. Очень благодарны за качество обслуживания и комфорт. За столько лет
                            прибывания у нас сложилось определенное мнение о санатории. Мы считаем его самым лучшим санаторием в России. Он
                            соответствует всем требованиям санаторно-курортного о...</p>
                        <a class="medium-text color-btn quest__more-link" href="/">Подробнее</a>

                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img alt="" src="../../img/others/guests.png">
                        </div>
                        <div class="stars">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                        </div>
                        <p class="big-weight">Дингуатова Г.У., Потатуева Н.П., Евдокимова З.Л.</p>
                        <p class="medium-text">В санатории Волжский утёс отдыхаем с 2012 г. Очень благодарны за качество обслуживания и комфорт. За столько лет
                            прибывания у нас сложилось определенное мнение о санатории. Мы считаем его самым лучшим санаторием в России. Он
                            соответствует всем требованиям санаторно-курортного о...</p>
                        <a class="medium-text color-btn quest__more-link" href="/">Подробнее</a>

                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img alt="" src="../../img/others/guests.png">
                        </div>
                        <div class="stars">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                            <img alt="" src="../../img/others/quest-stars.png">
                        </div>
                        <p class="big-weight">Дингуатова Г.У., Потатуева Н.П., Евдокимова З.Л.</p>
                        <p class="medium-text">В санатории Волжский утёс отдыхаем с 2012 г. Очень благодарны за качество обслуживания и комфорт. За столько лет
                            прибывания у нас сложилось определенное мнение о санатории. Мы считаем его самым лучшим санаторием в России. Он
                            соответствует всем требованиям санаторно-курортного о...</p>
                        <a class="medium-text color-btn quest__more-link" href="/">Подробнее</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section p-all-0">
    <div id="map"></div>
</div>
<div class="section p-t-0 p-b-30">
    <div class="container">
        <div class="row question">
            <div class="col w-50">
                <div class="position">
                    <h2 class="text-align-center color-white">
                        Удачное расположение
                    </h2>
                    <p class="text-align-center">
                        В живописном районе Самарской области в большом лесном
                        массиве на берегу Жигулевского моря
                    </p>
                </div>
            </div>
            <div class="col w-50 block-inputs">
                <form action="#ajax_url" class="question-iputs" id="feedback_form">
                    <h2 class="text-align-center m-t-0 m-b-0">
                        Задайте вопрос
                    </h2>
                    <p class="text-align-center">
                        О Вашем лечении и отдыхе. Свяжитесь с нами и наши
                        специалисты ответят вам в ближайшее время
                    </p>
                    <label class="field">
                        <input autocapitalize="none" autocomplete="off"
                               autocorrect="off" class="input-text placeholder validate input-mask" data-mask_tpl="phone_plus7"
                               data-placeholder="Мобильный телефон" data-validate="mobile_phone" id="feedback_phone"
                               name="feedback_phone" type="text" value="">
                        <p class="error-message"></p>
                    </label>

                    <label class="field">
                            <textarea class="textarea placeholder validate" data-placeholder="Ваш вопрос"
                                      data-validate="required"
                                      id="feedback_text" name="feedback_text"></textarea>
                        <p class="error-message"></p>
                    </label>

                    <button class="button width-100" type="submit">
                        Отправить
                    </button>

                    <p class="medium-text">
                        Нажимая кнопку «Отправить» вы соглашаетесь с нашей<br>
                        <a class="custom-link" href="/" target="_blank">политикой конфиденциальности</a>
                        и
                        <a class="custom-link" href="/" target="_blank">обработкой персональных данных.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
