<% var data = {
title: "Волжский утес"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section p-all-0">
    <div class="head_info p2">
        <div class="container">
            <div class="head">
                <h1 class="text-align-center m-b-0">Лечебная программа «Стандарт»</h1>
                <p class="text-align-center color-main m-t-30">Заболевания органов кровообращения, заболевания опорно-двигательного аппарата, заболевания нервной системы, заболевания органов желудочно-кишечного тракта.</p>

            </div>
        </div>
    </div>
</div>
<div class="gallery__slider">
    <div class="gallery__slider-wrapper">
        <div class="gallery__slider-close"></div>
        <div class="gallery-prev">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-big"></div>
        <div class="gallery-next">
            <span class="icon-up-arrow-3"></span>
        </div>
        <div class="gallery__slider-small"></div>

    </div>
</div>
<div class="section sections-block">
    <div class="container">
        <h2 class="m-t-0">Галерея</h2>
        <div class="gallery">
            <div class="row">
                <div class="col w-33 item" data-slide="1">
                    <img alt="1" src="/img/others/gallery/item-1.png">
                </div>
                <div class="col w-33 item" data-slide="2">
                    <img alt="2" src="/img/others/gallery/item-2.png">

                </div>
                <div class="col w-33 item" data-slide="3">
                    <img alt="3" src="/img/others/gallery/item-3.png">

                </div>
                <div class="col w-33 item" data-slide="4">
                    <img alt="4" src="/img/others/gallery/item-4.png">

                </div>
                <div class="col w-33 item" data-slide="5">
                    <img alt="5" src="/img/others/gallery/item-5.png">

                </div>
                <!-- После data-slide="5" - этот 6 блок общий-->
                <div class="col w-33 item">
                    <div class="more-item">
                        <span>Еще <span>3</span> фото</span>
                    </div>
                </div>
                <!-- После data-slide="5" следующие блоки скрыты-->
                <div class="col w-33 item hidden" data-slide="7">
                    <img alt="1" src="/img/others/gallery/item-1.png">
                </div>
                <div class="col w-33 item hidden" data-slide="8">
                    <img alt="1" src="/img/others/gallery/item-2.png">
                </div>
                <div class="col w-33 item hidden" data-slide="9">
                    <img alt="1" src="/img/others/gallery/item-3.png">
                </div>
                <div class="col w-33 item hidden" data-slide="10">
                    <img alt="1" src="/img/others/gallery/item-4.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sections-block">
    <div class="container">
        <h2 class="m-t-0">Показана при соматических заболеваниях, включая:</h2>
        <ul class="basic-list">
            <li>заболевания сердечно-сосудистой системы</li>
            <li>заболевания опорно-двигательного аппарата</li>
            <li>заболевания нервной системы</li>
            <li>заболевания органов желудочно-кишечного тракта</li>
            <li>эндокринную патологию</li>
        </ul>
    </div>
</div>

<div class="section sections-block section-grey-bg m-b-50">
    <div class="container">
        <h2 class="m-t-0">Описание программы</h2>

        <select class="select" name="" id="program-select">
            <option value="1">Срок путевки 10 - 12 дней</option>
            <option value="2">Срок путевки 12 - 20 дней</option>
            <option value="3">Срок путевки 20 - 30 дней</option>
        </select>

        <div class="program-table" data-program="1">
            <span class="color-info">кол-во продедур</span>

            <div class="item">
                <div class="number">
                    <span>3</span>
                </div>
                <div class="desc">
                    <h3>Наблюдение лечащего врача</h3>
                    <p>Первичный осмотр, повторное наблюдение через 3-4 дня</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="desc">
                    <h3>Консультации специалистов (уролог, невролог, кардиолог, диетолог, стоматолог, иглорефлексотерапевт, лор-врач, гинеколог, офтальмолог, озонотерапевт, травматолог, эндокринолог, врач ЛФК, гастроэнтеролог)</h3>
                    <p>По назначению врача</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Общий (клинический) анализ крови</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Биохимический анализ крови (глюкоза, холестерин, триглицериды, а-холестерин, креатинин)</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Анализ мочи</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Ультразвуковая диагностика (УЗИ почек, брюшной полости, щитовидной железы, малого таза -1 вид  из перечисленных)</h3>
                    <p>По профилю, от 14 дней пребывания</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Рентгенологическое обследование	</h3>
                    <p>По показаниям (2 сустава или отдел позвоночника)</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>ЭКГ</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Нагрузочное тестирование (с 12 дней пребывания)</h3>
                    <p>По показаниям</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="text">ежедневно</span>
                </div>
                <div class="desc">
                    <h3>Лечебная гимнастика (в зале и в бассейне)	</h3>
                    <p>Суббота, воскресенье-выходной</p>
                </div>
            </div>
        </div>
        <div class="program-table hide" data-program="2">
            <span class="color-info">кол-во продедур</span>

            <div class="item">
                <div class="number">
                    <span>43</span>
                </div>
                <div class="desc">
                    <h3>Наблюдение лечащего врача</h3>
                    <p>Первичный осмотр, повторное наблюдение через 3-4 дня</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="desc">
                    <h3>Консультации специалистов (уролог, невролог, кардиолог, диетолог, стоматолог, иглорефлексотерапевт, лор-врач, гинеколог, офтальмолог, озонотерапевт, травматолог, эндокринолог, врач ЛФК, гастроэнтеролог)</h3>
                    <p>По назначению врача</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Общий (клинический) анализ крови</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Биохимический анализ крови (глюкоза, холестерин, триглицериды, а-холестерин, креатинин)</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Анализ мочи</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Ультразвуковая диагностика (УЗИ почек, брюшной полости, щитовидной железы, малого таза -1 вид  из перечисленных)</h3>
                    <p>По профилю, от 14 дней пребывания</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Рентгенологическое обследование	</h3>
                    <p>По показаниям (2 сустава или отдел позвоночника)</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>ЭКГ</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Нагрузочное тестирование (с 12 дней пребывания)</h3>
                    <p>По показаниям</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="text">ежедневно</span>
                </div>
                <div class="desc">
                    <h3>Лечебная гимнастика (в зале и в бассейне)	</h3>
                    <p>Суббота, воскресенье-выходной</p>
                </div>
            </div>
        </div>
        <div class="program-table hide" data-program="3">
            <span class="color-info">кол-во продедур</span>

            <div class="item">
                <div class="number">
                    <span>5</span>
                </div>
                <div class="desc">
                    <h3>Наблюдение лечащего врача</h3>
                    <p>Первичный осмотр, повторное наблюдение через 3-4 дня</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>2</span>
                </div>
                <div class="desc">
                    <h3>Консультации специалистов (уролог, невролог, кардиолог, диетолог, стоматолог, иглорефлексотерапевт, лор-врач, гинеколог, офтальмолог, озонотерапевт, травматолог, эндокринолог, врач ЛФК, гастроэнтеролог)</h3>
                    <p>По назначению врача</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Общий (клинический) анализ крови</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Биохимический анализ крови (глюкоза, холестерин, триглицериды, а-холестерин, креатинин)</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Анализ мочи</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Ультразвуковая диагностика (УЗИ почек, брюшной полости, щитовидной железы, малого таза -1 вид  из перечисленных)</h3>
                    <p>По профилю, от 14 дней пребывания</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="not-number"></span>
                </div>
                <div class="desc">
                    <h3>Рентгенологическое обследование	</h3>
                    <p>По показаниям (2 сустава или отдел позвоночника)</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>ЭКГ</h3>
                    <p>Повторно при патологии</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span>1</span>
                </div>
                <div class="desc">
                    <h3>Нагрузочное тестирование (с 12 дней пребывания)</h3>
                    <p>По показаниям</p>
                </div>
            </div>
            <div class="item">
                <div class="number">
                    <span class="text">ежедневно</span>
                </div>
                <div class="desc">
                    <h3>Лечебная гимнастика (в зале и в бассейне)	</h3>
                    <p>Суббота, воскресенье-выходной</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section sections-block p-b-0">
    <div class="container">
        <h2 class="m-t-0">Ранний заезд и поздний выезд:</h2>
        <div class="text-content">
            <div class="item">
                <h3>Отъезд после расчетного времени:</h3>
                <p>до 10.00 часов - 150 руб.</p>
                <p>до 11.00 часов - 350 руб.</p>
                <p>до 12.00 часов - 700 руб.</p>
                <p>после 12.00 часов оплачивается полная стоимость путевки за сутки.</p>
            </div>
            <div class="item">
                <h3>Ранний заезд (накануне):</h3>
                <p>с 21.00 часа предыдущих суток - 700 руб.</p>
                <p>с 20.00 часа предыдущих суток - 800 руб.</p>
                <p>с 19.00 часа предыдущих суток - 900 руб.</p>
                <p>с 18.00 часа предыдущих суток - 1 000 руб.</p>
                <p>за ранний заезд с 24 часов предыдущих суток до 9 часов расчетного часа плата не взимается.</p>
            </div>
            <p class="m-b-30">Показания и противопоказания по санаторному лечению в ФГБУ «Санаторий «Волжский Утес» определяет врач по месту жительства.</p>
            <p class="m-b-30">
                Приезжающий на лечение в санаторий должен иметь санаторно-курортную карту, полис обязательного медицинского страхования. При отсутствии санаторно-курортной карты пациент оформляет ее в санатории за наличный расчет. Все диагностические исследования и лечебные процедуры назначаются лечащим врачом санатория. При составлении плана обследования и лечения обязательно учитываются индивидуальные особенности пациента, его общее состояние, основное и сопутствующие заболевания, а также сочетаемость процедур.
            </p>
            <p class="m-b-30">
                *Возможна замена процедур по индивидуальному согласованию.
            </p>
        </div>
    </div>
</div>

<div class="section s-block">
    <div class="container">
        <h2 class="m-t-0">Может быть интересно</h2>
        <div class="points-blocks">
            <div class="row">
                <div class="col w-33 " >
                    <div class="choice-points-block b1i1">
                        <img alt="1" src="../../img/others/services/item-5.png">
                        <div class="info">
                            <h4 class="subtitle22">Оздоровление</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col w-33 " >
                    <div class="choice-points-block b1i2">
                        <img alt="1" src="../../img/others/services/item-6.png">
                        <div class="info">
                            <h4 class="subtitle22">Базовая</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="col w-33 " >
                    <div class="choice-points-block b1i3">
                        <img alt="1" src="../../img/others/services/item-7.png">
                        <div class="info">
                            <h4 class="subtitle22">Стандарт</h4>
                            <span class="price">от 32 000 ₽</span>
                            <p>
                                Заболевания органов кровообращения,
                                заболевания опорно-двигательного аппарата,
                                заболевания нервной системы, заболевания органов
                                желудочно-кишечного тракта.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%= _.template(require('./../includes/footer.html').default)(data) %>
