.advantage-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom:100px;
  .col0{
    order:1;
  }
  .col1{
    order:0;
  }
  .col2{
    order:2;
  }
  .col3{
    order:3;
  }
  .col4{
    order:5;
  }
  .col5{
    order:4;
  }
  .w-40{
    width:40%;
  }
  .w-60{
    width: 60%;
  }

  .p-left{
  padding-left:9%;
  }
  .p-right{
    padding-right:9%;
  }
  @include mobile {
    .w-40{
      width:100%;
    }
    .w-60{
      width:100%;
    }
    .col0{
      order:1;
    }
    .col1{
      order:0;
    }
    .col2{
      order:2;
    }
    .col3{
      order:3;
    }
    .col4{
      order:5;
    }
    .col5{
      order:4;
    }
    .w-40{
      width:100%;
    }
    .w-60{
      width: 100%;
    }
    .p-left{
      padding-left:0;
      margin-bottom: 25px;
    }
    .p-right{
      padding-right:0;
      margin-bottom: 25px;
    }
    margin-bottom:0;
  }
  @include tablet-mobile{
    .w-40{
      width:100%;
    }
    .w-60{
      width:100%;
    }
    .col0{
      order:1;
    }
    .col1{
      order:0;
    }
    .col2{
      order:3;
    }
    .col3{
      order:2;
    }
    .col4{
      order:5;
    }
    .col5{
      order:4;
    }
    .p-left{
      padding-left:0;
      margin-bottom: 25px;
    }
    .p-right{
      padding-right:0;
      margin-bottom: 25px;
    }
    margin-bottom:0;
  }
}

.advantage{
  position: relative;
  display: block;
  overflow: hidden;
  //background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  display: flex;
  flex-wrap: wrap;
  &:before{
    content: " ";
    display: block;
    float: left;
    margin: 0;
    padding-top: 61%;
  }
  @for $i from 1 through 3{
    &.advantage#{$i}{
      background-image:  url(../../img/others/advantages/advantage#{$i}.png);
    }
  }
}
