.advantage-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom:100px;
  &:last-child {
    margin-bottom: 10px;
  }
  .col0{
    order:1;
  }
  .col1{
    order:0;
  }
  .col2{
    order:2;
  }
  .col3{
    order:3;
  }
  .col4{
    order:5;
  }
  .col5{
    order:4;
  }
  .w-40{
    width:40%;
  }
  .w-60{
    width: 60%;
  }

  .p-left{
  padding-left:9%;
  }
  .p-right{
    padding-right:9%;
  }
  @include desktop-small{
    margin-bottom: 50px;
    .w-40{
      width:50%;
    }
    .w-60{
      width: 50%;
    }
  }
  @include mobile {
    .w-40{
      width:100%;
    }
    .w-60{
      width:100%;
    }
    .col0{
      order:0;
    }
    .col1{
      order:1;
    }
    .col2{
      order:2;
    }
    .col3{
      order:3;
    }
    .col4{
      order:5;
    }
    .col5{
      order:4;
    }
    .w-40{
      width:100%;
    }
    .w-60{
      width: 100%;
    }
    .p-left{
      padding-left:0;
      margin-bottom: 25px;
    }
    .p-right{
      padding-right:0;
      margin-bottom: 25px;
    }
    margin-bottom:0;
  }
  @include tablet-mobile{
    .w-40{
      width:100%;
      padding: 0 40px !important;
      h3 {
        margin: 0;
        font-size: 26px;
        line-height: 31px;
      }
      p {
        font-size: 16px;
        line-height: 178.9%;
      }
    }
    .w-60{
      width:100%;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    .col0{
      order:1;
    }
    .col1{
      order:0;
    }
    .col2{
      order:3;
    }
    .col3{
      order:2;
    }
    .col4{
      order:5;
    }
    .col5{
      order:4;
    }
    .p-left{
      padding-left:0;
      margin-bottom: 0;
      h3 {
        margin: 0;
      }
    }
    .p-right{
      padding-right:0;
      margin-bottom: 25px;
    }
    margin-bottom:0;
  }
  @include mobile{
    .w-40{
      padding: 0 5px!important;
      h3 {
        margin: 0;
        font-size: 24px;
        line-height: 31px;
      }
      p {
        font-size: 14px;
        line-height: 178.9%;
      }
    }
  }
}

.advantage{
  position: relative;
  display: block;
  overflow: hidden;
  //background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  display: flex;
  flex-wrap: wrap;
  &:before{
    content: " ";
    display: block;
    float: left;
    margin: 0;
    padding-top: 61%;
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  @include tablet-mobile{
    -webkit-background-size: contain;
    background-size: contain;
    &:before {
      padding-top: 50%;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .p-left {
      margin-bottom: 0;
    }
    img {
      width: 80%;
      max-width: 100%;
      height: auto;
    }
  }
  @include mobile{
    .p-left {
      margin-bottom: 0;
    }
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}
