.section{
  .head_info {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
  }
  .p1{
    background-image:url(../img/others/p1.png);
  }
  .p2 {
    background-image:url(../img/others/backgrounds/standart-program-bg.png);
  }

}
