.clr {
    display: block;
    clear: both;
}

.hide {
    display: none !important;
}

.hide-desktop {
    @include desktop {
        display: none !important;
    }
}
@include desktop {
}

.hide-tablet {
    @include tablet {
        display: none !important;
    }
}

.hide-mobile {
    @include mobile {
        display: none !important;
    }
}

.table-block {
    display: table;
    margin: 0;
    width: 100%;
    height: 100%;

    .cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.mobile-m-t-30 {
    @include mobile {
        margin-top: 30px !important;
    }
}

.mobile-m-b-30 {
    @include mobile {
        margin-bottom: 30px !important;
    }
}

.mobile-m-b-0 {
    @include mobile {
        margin-bottom: 0px !important;
    }
}

.m-t--60 {
    margin-top: -60px !important;
}
.m-t-100 {
    margin-top: 100px !important;
}
.m-t-70 {
    margin-top: 70px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}


.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-all-0 {
    padding: 0 !important;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.text-align-right {
    text-align: right !important;
}

.disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.color-green {
    color: $colorMain;
}
.color-white {
    color: $colorMain
}
.overflow-hidden {
    overflow: hidden;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
    vertical-align: top;
}

.section.section-grey-bg {
    background-color: $sectionGreyBg;
}

.slick-dots {
    bottom: -60px;
    li {
        opacity: 0.5;
        border: 2px solid $colorGray;
        box-sizing: border-box;
        border-radius: 50%;
        transition: all 0.3s;
        &.slick-active {
            background: $colorButton;
            border: 2px solid $colorButton;
        }
        &:hover {
            border: 2px solid $colorButton;
        }
    }
}
.slick-loading .slick-list
{
    background: #fff !important;
}

