// переменные
$fontBase: 'Manrope', sans-serif;
$fontAccent: 'Lora', sans-serif;
$colorMain: #FFFFFF;
$colorText: #000000;
$colorGray: #4D4D4D;
$colorPurple: #212B55;
$colorButton: #DBBE3F;
$colorLink: #0085ff;
$colorBlue: #00A3FF;
$colorError: #FF4F4F;
$colorWhite: #ffffff;
$sectionGreyBg: #F4F4F4;
