// переменные
$fontBase: 'Manrope', sans-serif;
$fontAccent: 'Lora', sans-serif;
$colorMain: #DBBE3F;
$colorMainHover: #CDB757;
$colorMain: #212B55;
$colorText: #000000;
$colorGray: #с4с4с4;
$colorLink: #0085ff;
$colorError: #FF4F4F;
$colorWhite: #ffffff;